<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dounine.springmvc.dao.UserMapper">
    <!-- sp namespace:映射StudentMapper的接口 -->
    
    <!-- 添加一条数据 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into Msg(sendto,content) values(#{sendto},#{content})
    </insert>
    
    <!-- 删除一条数据 -->
    <delete id="delete">
        delete from Msg where id=#{id}
    </delete>
    
    <!-- 获取一条数据 -->
    <select id="get" resultType="com.dounine.springmvc.entity.User">
        select id,sendto,content from Msg where id=#{id}
    </select>
 
     <!-- 获取一条数据 -->
    <select id="getFromNamePwd" parameterType="com.dounine.springmvc.entity.User" resultType="com.dounine.springmvc.entity.User">
        select * from User where username=#{username} and password=#{password}
    </select>

     <!-- 获取一条数据 -->
    <select id="getRole" parameterType="com.dounine.springmvc.entity.User" resultType="com.dounine.springmvc.entity.User">
        select role from User where username=#{username} and password=#{password}
    </select>
           
</mapper>